* {
  /* border: 1px solid red; */
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.left-container {
  flex: 1;
  background-image: url("images/festival.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.top-box,
.middle-box,
.bottom-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.top-box,
.bottom-box {
  background-color: rgb(223, 223, 223);
}

.top-box {
  background-color: rgb(223, 223, 223);
  margin-bottom: 5px;
  padding: 50px 50px 100px 20px;
  font-size: 1.5em;
  justify-content: flex-end;
}

.middle-box {
  margin-bottom: 20px;
  flex-direction: column;
  align-items: left;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 60%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  font-size: 1em;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
}

.bottom-box {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bottom-box p {
  margin-top: 20px;
}

button {
  width: 200px;
  height: 70px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #45a049;
}
