/* * {
  border: 1px solid red;
  margin: 0;
} */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.left-container {
  flex: 1;
  background-image: url("images/ourense.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
}

.left-container img {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 200px;
  height: auto;
  z-index: 1;
}

.title-box,
.sub-title-box {
  display: flex;
  display: inline-block;
  margin-top: 33vh;
  padding-top: 10px;
  z-index: 2;
}

.title-box {
  margin-top: 20vh;
  font-size: 4.5em;
  text-align: right;
}

.sub-title-box {
  margin-top: 20px;
  font-size: 1.8em;
  max-width: 40%;
}

.left-container h1,
.left-container p {
  margin: 0;
  text-align: right;
  background-color: white;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.top-box,
.middle-box,
.bottom-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.top-box,
.bottom-box {
  background-color: rgb(223, 223, 223);
}

.top-box {
  background-color: rgb(223, 223, 223);
  margin-bottom: 5px;
  font-size: 1.3em;
  justify-content: flex-end;
}

.top-box p {
  margin-bottom: 20px;
  padding-left: 30px;
}

.middle-box {
  margin-bottom: 20px;
  flex-direction: column;
  align-items: left;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 60%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  font-size: 1em;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
}

.bottom-box {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 30px;
}

.bottom-box p {
  margin-top: 20px;
}

button {
  width: 150px;
  height: 60px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #45a049;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffb200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  letter-spacing: 0.2rem;
}

.footer a {
  color: #ffb200;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header img {
  margin: 0 20px;
  max-height: 50px;
}

.header p {
  margin: 10px 0;
}
